.primary {
    padding: 0.8rem 0;
    color: #fff;
    background-color: #fff#009b39;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 50px;
    width: 100%;
    border: none;
}

.secondary {
    padding: 0.8rem 0;
    color: #009b39;
    background-color: #fff;;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 50px;
    border: 1px solid #009b39;
    width: 100%;
}

.large {
    width: 100%;
}

.medium {
    width: 48%;
}

.small {
    width: 30%;
}